<div class="container">
    <div class="row">
        <h2>User Form</h2>
    </div>
    <br>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="model.name" name="name">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input type="text" class="form-control" id="surname" [(ngModel)]="model.surname" name="surname">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="emailAddress">Email</label>
                    <input type="email" class="form-control" id="emailAddress" [(ngModel)]="model.emailAddress" name="emailAddress">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="date-picker-wrapper">
                    <igx-date-picker [(ngModel)]="model.birthDate" name="birthDate" >
                        
                    </igx-date-picker>
                </div>
                
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="title">Title</label>
                    <select class="form-select" [(ngModel)]="model.userTitleId" name="title" id="title">
                        <option *ngFor="let title of titles" [value]="title.id">{{title.description}}</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="type">Type</label>
                    <select [(ngModel)]="model.userTypeId" id="type" name="type" class="form-select" (ngModelChange)="typeChanged($event)">
                        <option *ngFor="let type of types" [value]="type.id">{{type.description}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="code">Code</label>
                    <input type="text" [(ngModel)]="code" id="code" name="code" maxlength="2" class="form-control" readonly>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
            <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>

    </form>
</div>
